(function(){
	if (window.Validate == undefined) {
		window.Validate = {};
	}
	window.Validate["${name}"] = function(selector, handlerError) {
		var validator = new Validator(selector, handlerError);
		validator.validate = function() {
${script}
		};
		return validator;
	}
})();